<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.SlipDetailMapper">

    <insert id="insert" parameterType="com.example.demo.entity.SlipDetail" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO slip_detail (
            slip_id,
            code,
            name,
            price,
            tax_price,
            credit,
            media_name,
            release_date,
            note
        ) VALUES (
            #{slipId},
            #{code},
            #{name},
            #{price},
            #{taxPrice},
            #{credit},
            #{mediaName},
            #{releaseDate},
            #{note}
        )
    </insert>

</mapper>
