<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.SlipMediaMapper">

    <insert id="insert" parameterType="com.example.demo.entity.SlipMedia" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO slip_media (
            slip_id,
            media_name,
            project_name,
            release_date,
            note
        ) VALUES (
            #{slipId},
            #{mediaName},
            #{projectName},
            #{releaseDate},
            #{note}
        )
    </insert>

    <select id="findBySlipId" resultType="com.example.demo.entity.SlipMedia">
        SELECT id,
               slip_id AS slipId,
               media_name AS mediaName,
               project_name AS projectName,
               release_date AS releaseDate,
               note
        FROM slip_media
        WHERE slip_id = #{slipId}
        ORDER BY id
    </select>

    <delete id="deleteBySlipId">
        DELETE FROM slip_media
        WHERE slip_id = #{slipId}
    </delete>

</mapper>
